.previous-months-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 30px;
}

.previous-months-container__title {
  width: 100%;
  text-align: center;
}

.previous-months-container__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}