.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header__title {
  font-style: italic;
  margin-bottom: 0;
}

.main-header__description {
  font-size: 14px;
}