.previous-month {
  width: 30%;
  border: 1px solid #000;
  border-radius: 5px;
}

.previous-month__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 20px 10px;
}

.previous-month__row {
  border-bottom: 1px solid #000;
  border-radius: 5px;
  width: 90%;
  margin: 5px 5%;
  display: flex;
  flex-direction: row;
}

.previous-month__table-cell {
  display: block;
  width: 50%;
}